extends layout
block content
  style.
    .about {padding-top:70px}
  .container.about
    h1 About IEEE
    hr
    h2 Overview
    p.lead The Institute of Electrical and Electronics Engineers or IEEE is an international non-profit, professional organization for the advancement of technology related to electricity. It has the most members of any technical professional organization in the world, with more than 3,95,000 members in around 150 countries. The IEEE consists of 38 societies, organized around specialized technical fields, with more than 300 local organizations that hold regular meetings.
    h2 Goals
    p.lead IEEE offers educational opportunities such as IEEE Expert Now Online Education Courses, the Education Partners Program, Standards in Education and Continuing Education Units (CEUs)
    h2 Scope
    p.lead The IEEE provides learning opportunities within the engineering sciences, research, and technology. The goal of the IEEE education programs is to ensure the growth of skill and knowledge in the electricity-related technical professions and to foster individual commitment to continuing education among IEEE members, the engineering and scientific communities, and the general public.
    p.lead IEEE Expert Now is a collection of online educational courses designed for self-paced learning. Education Partners, exclusive for IEEE members, offers on-line degree programs, certifications and courses at a 10% discount. The Standards in Education website explains what standards are and the importance of developing and using them. The site includes tutorial modules and case illustrations to introduce the history of standards, the basic terminology, their applications and impact on products, as well as news related to standards, book reviews and links to other sites that contain information on standards
