style.
  #account-form-container {padding-top:70px}
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.container
  form( method="post")#account-form.form-horizontal
    h1
    p#sub2.subheading
    #user-cg.control-group
      label.control-label(for='user-tf') Team Id
      .controls
        input#user-tf.input-xlarge.disabled(type='number', name='team_id')
    #user-cg.control-group
      label.control-label(for='user-tf') Username
      .controls
        input#user-tf.input-xlarge.disabled(type='text', name='username')
    #pass-cg.control-group
      label.control-label(for='pass-tf') Password
      .controls
        input#pass-tf.input-xlarge(type='password', name='pass', value='')
    .form-actions
      button(type='submit')#account-form-btn2.btn Create
          
// display form errors in a custom modal window //
  
include modals/form-errors
