#myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li(data-target="#myCarousel" data-slide-to="0" class="active")
      li(data-target="#myCarousel" data-slide-to="1")
      li(data-target="#myCarousel" data-slide-to="2")
    .carousel-inner
      .item.active
        img(src="/img/ieee.jpg" alt="First slide")
        .carousel-caption
          h1 Welcome to IEEE-VIT
          p This is the official site of IEEE-VIT. Subcribe for latest updates about events and all
          p
            a.btn.btn-lg.btn-primary(href="#" role="button") Learn More
      .item
        img(src="/img/verve.jpg" alt="Second slide")
        .carousel-caption
          h1 VERVE
          p Technical Fest of Vidyalankar.
          p
            a.btn.btn-lg.btn-primary(href="#" role="button") Learn More
      .item
        img(src="/img/events.jpg" alt="Second slide")
        .carousel-caption
          h1 Events organized to IEEE-VIT
          p Workshops, Seminars, Conferences
          p
            a.btn.btn-lg.btn-primary(href="#" role="button") Learn More
    a.left.carousel-control(href="#myCarousel" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#myCarousel" data-slide="next")
      span.glyphicon.glyphicon-chevron-right