extends layout
block content
  style.
    #otp{padding-top:80px}
  #otp.container
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9
        h1 One Time Pad
        hr
        p.lead One Time Pad is an encryption technique which is impossible to crack. It is a perfect cipher.
        img(src='/img/otp.png')
        p.lead Let the original message(plaint text) to be sent be M. The message is binary coded where each character is a 7 bit ACII code. So the message M is a bit stream. If Bob sends this message to Alice, Eve can easily interpret the bit stream as ASCII code and know the message. So Bob has to use One Time Pad. To do that he will generate a random bit stream (K) of length equal to the original message. Then he will EXOR the plain text M with random stream R to obtain the cipher text C.  
        img(src="/img/xor1.png")
        p.lead You can see that the Cipher Text C gives no information about the Plain Text M. That is if Eve gets her hand on the cipher text and reads the first bit she cannot guess if the 1 is obtained by 1 &#8853 0 or 0 &#8853 1. So it is impossible to guess the plain text enough if Eve gets the Cipher text. Alice can regenerate the original message if she has the key (K). So for secure communication they need a common private key.
        img(src="/img/xor2.png")
        p.lead But If Alice and Bob have a secure medium to exchange the key (which are as long as the message), they might as well exchange the message through that medium. So One Time Pad is perfect but ineffective cipher.
        p.lead When same key is used for encrypting two messages, it is called TWO TIME PAD
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
        span#countdown
        .list-group
          a.list-group-item(href="/portal/cryptocrack/dashboard") Home
          a.list-group-item.active(href="/portal/cryptocrack/otp") One Time Pad
          a.list-group-item(href="/portal/cryptocrack/submissions") Submissions
          a.list-group-item(href="/portal/cryptocrack/rules") Rules  