extends layout
block content
  style.
    #otp{padding-top:80px}
  #otp.container
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9
        h1 Rules
        hr
        ul
          li
            
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
        span#countdown
        .list-group
          a.list-group-item(href="/portal/cryptocrack/dashboard") Home
          a.list-group-item.active(href="/portal/cryptocrack/otp") One Time Pad
          a.list-group-item(href="/portal/cryptocrack/submissions") Submissions
          a.list-group-item(href="/portal/cryptocrack/rules") Rules  