extends layout
block content
  style.
    #sub{padding-top:80px}
  #sub.container
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9
        h1 Submission
        hr
        p.lead #{user.ccmessage.message1}
        p.lead #{user.ccmessage.message2}
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
        span#countdown
        .list-group
          a.list-group-item(href="/portal/cryptocrack/dashboard") Home
          a.list-group-item(href="/portal/cryptocrack/otp") One Time Pad
          a.list-group-item.active(href="/portal/cryptocrack/submissions") Submissions
          a.list-group-item(href="/portal/cryptocrack/rules") Rules  