
extend layout
block content
  .container
    hr.featurette-divider
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src="/img/cryptocrack.jpg")
      .col-md-6
      h2.featurette-heading CryptoCrack
        br
        span.text-muted Its Elementary!
      p.lead Break the cipher and stop the WAR!
    .col-md-12
      h3 Description 
      p.lead War is eminent! Battle forces are moving quickly. But you -SHERLOCK- can stop the WAR!. You have come across Jim Moriarty\'s diary! You have a hunch that Moriarty is trying to  trigger the war wants to make a fortune as he owns all the key industries. Moriarty is about to make the next move. 3 hours is all you have. But the text in the diary is encrypted!Brute Force is not the solution. Time is limited! Use your programming skill. Break the cipher to know his next move and STOP THE WAR!!  
     h3 Competition Details
     ul
       li
         p.lead CryptoCrack is a 3 hour competition. It will be open from 9 am to 5 pm. The participants can come in any time from 9 am to 2 pm and start their competition.
       li
         p.lead Teams will get a Login Id and Password upon arrival. They have to login into the dashboard and start the competition.
       li
         p.lead Once the competition starts, you will get the problem statement and two encrypted strings.
       li
         p.lead The team will be offered a hint at the cost of some points.
       li
         p.lead The team can use any programming language to automate some task. Beacuse manual decoding will take a lot of time! 
       li
         p.lead The team will have to submit the decrypted string in the dashboard.
       li
         p.lead Winners will be decided accoring to the scoring scheme. Winners will be contacted after the competition.
     h3 Registration Details
     ul
       li
         p.lead Registration fee is &#8377 50/- per team (For IEEE members) and &#8377 80/- per team (For Non-IEEE members)
       li 
         p.lead A team can have 2 - 4 members
       li
         p.lead Registrations are open from 5th Feb.
       li
         p.lead Registration can be done at registration desk VIT, Wadala
       li
         p.lead Contact Praveen 8898758995 for more information
     h3 Prizes
       ul
         li
           p.lead 1st prize: &#8377 1200/-
       ul
         li
           p.lead 2nd prize: &#8377 500/-
       ul
         li
           p.lead 3rd prize: &#8377 300/-
    button.btn.btn-success(data-toggle="modal",href="#myModal") Login
    hr.featurette-divider
    .modal.fade#myModal(tabinex="-1",role="dialog",aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h2.form-signin-heading Login
          .modal-body
            form.form-horizontal(method="POST",action="/portal/login",role="form")        
              .form-group
                label.col-sm-2.control-label(for="user") Username:
                .col-sm-6
                  input.form-control#name(type="text" name ="user" placeholder="Username" required autofocus)
              .form-group
                label.col-sm-2.control-label(for="password") Password:
                .col-sm-6
                  input.form-control#intime(type="password" name ="pass" placeholder='Password'  required)
              .modal-footer
                button(type="button" data-dismiss="modal").btn.btn-primary Cancel
                button(type="submit").btn.btn-success Login   
        