extends layout
block content
  .container
    .row
      .span12
        h1 Events
        p sadghdjkfsdadhskjahdljksasdflkjhaskljdfghaskjdghdlkjsasdjkhsasdkhasd
    .row
      .events
        #isot
          ul.inline.filterNav
            li
              a(href="" data-filter='*') All
            li
              a(href='' data=filter=".ieee") IEEE
            li
              a(href='' data-filter=".fest") Verve
            li
              a(href="" data-filter=".tantra") TantraVihar
        ul.thumbnails
          li.fest.col-xs-6.col-md-4
            .thumbnail
              img(src='/img/minix.jpg' alt='')
              h3 MiniXtreme
              p uygsfdaskjhdjashdlasdlkj
          li.col-xs-6.col-md-4.fest
            .thumbnail
              img(src='/img/crypto.jpg' alt='')
              h3 Cryptocrack
              p uygsfdaskjhdjashdlasdlkj
          li.col-xs-6.col-md-4.fest
            .thumbnail
              img(src='/img/clash.jpg' alt='')
              h3 Clash of Titans
              p uygsfdaskjhdjashdlasdlkj
          li.col-xs-6.col-md-4.fest
            .thumbnail
              img(src='/img/tpp.jpg' alt='')
              h3 TPP
              p uygsfdaskjhdjashdlasdlkj
          li.col-xs-6.col-md-4.ieee
            .thumbnail
              img(src='/img/ai.jpg' alt='') 
              h3 Artificial Intelligence
              p uygsfdaskjhdjashdlasdlkj0
          li.col-xs-6.col-md-4.ieee
            .thumbnail
              img(src='/img/matlab.jpg' alt='')
              h3 Matlab Workshop
              p uygsfdaskjhdjashdlasdlkj
          li.col-xs-6.col-md-4.tantra
            .thumbnail
              img(src='/img/tantra.jpg' alt='')
              h3 Tantra Vihar
              p uygsfdaskjhdjashdlasdlkj