hr.featurette-divider
.row.featurette
  .col-md-5
    img.featurette-image.img-responsive(data-src="holder.js/500x500/auto" alt="Generic placeholder image")
  .col-md-6
    h2.featurette-heading Artificial Intelligence 
      br
      span.text-muted Machine Learning
    p.lead Curious how you smartphone recognises a smile in a photo?
hr.featurette-divider