footer
  .container
    .row
      .col-md-12
        .well
          a(href="https://www.facebook.com/ieeevit1213")
            i.fa.fa-facebook.largeIcon
          a(href="#")
            i.fa.fa-twitter.largeIcon
          a(href="#")
            i.fa.fa-youtube.largeIcon
    p.pull-right
      a(href="#") Back to Top
    p &copy; 2013 IEEE-VIT &middot; 
      a(href="#") Privacy &middot; 
      a(href="#") Terms