extends layout
block content
  include carousel
  .container
    .container.marketing
      .row
        .col-lg-4
          img.img-circle(src="/img/minixtreme-s.jpg")
          h2 MiniXtreme
          p 3 hr coding competition. Solve the problem in any languge.
          p
            a.btn-default.btn(href="/event/minixtreme" role="button") View details
        .col-lg-4
          img.img-circle(src="/img/technodox-s.jpg")
          h2 Technodox
          p Technical Paper Presentation
          p
            a.btn-default.btn(href="/event/technodox" role="button") View details
        .col-lg-4
          img.img-circle(src="/img/cryptocrack-s.jpg")
          h2 CryptoCrack
          p Break the cipher to stop the WAR!!
          p
            a.btn-default.btn(href="/event/cryptocrack" role="button") View details
    hr.featurette-divider
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src="/img/clashoftitans.jpg")
      .col-md-6
        h2.featurette-heading Clash of Titans
          br
          span.text-muted Level 3 robot competition
        p.lead Burn Rubber, Race to Win, Take the Prize
        p
            a.btn-default.btn(href="/event/clashoftitans" role="button") View details
    hr.featurette-divider  