doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name='description', content='')
    meta(name='author', content='')
    title IEEE-VIT
  link(href='/css/bootstrap.css', rel='stylesheet')
  link(href='/css/carousel.css', rel='stylesheet')
  link(href='/css/main.css', rel='stylesheet')
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
body
  include nav
  block content
  include footer
script(src='/js/vendor/jquery-1.10.1.min.js').
script(src='/js/vendor/bootstrap.min.js')
script(src='/js/vendor/holder.js')
script(src='/js/isotope.js')
script(src='/vendor/jquery.form.js')
script(src='/js/views/signup.js')
script(src='/js/controllers/signupController.js')
script(src='/js/form-validators/accountValidator.js')
script(src="/js/vendor/jquery.countdown.min.js")