
extends layout

block content
<<<<<<< HEAD
  style.
    #form{padding-top:80px}
  .container#form
    h1 Login
    hr
    form.form-horizontal(method="POST",action="/new",role="form")        
      .form-group
        label.col-sm-2.control-label(for="name") Username:
        .col-sm-3
          input.form-control#name(type="text" name ="user" placeholder="Name" required autofocus)
      .form-group
        label.col-sm-2.control-label(for="intime") Password:
        .col-sm-3
          input.form-control#intime(type="password" name ="pass"  required)
      button(type="submit").btn.btn-success.col-sm-offset-3 Login
=======
	#login-container
		form( method="post")#login-form.well.span4
			h1 Hello!
			p.subheading Please Login To Your Account
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| Sign in
			label#remember-me.checkbox Remember Me
				input(type="checkbox", checked='checked')
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password Forgot Your Password?
				a(href='/signup')#create-account Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
>>>>>>> 53ac4911698c1413e091e15c26a04bca09657355
