.container.marketing
  .row
    .col-lg-4
      img.img-circle(data-src="holder.js/140x140" alt="Generic placeholder image")
      h2 MiniXtreme
      p 3 hr coding competition. Solve the problem in any languge.
      p
        a.btn-default.btn(href="#" role="button") View details
