extends layout
block content
  style.
    #medash{padding-top:80px}
  #medash.container
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9
        h1 Welcome 
        hr
        table.table.table-striped
          thead
            tr
              th #
              th Question 
              th Points
              th Submission
          tbody
      //      each question in questions
              tr
                th question.id
                td question.name    
              td Yes
        
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
        span#countdown
        .list-group
          a.list-group-item.active(href="/portal/minixtreme/dashboard") Home
          li.dropdown
            a.list-group-item.dropdown-toogle(href="/portal/minixtreme/submissions" data-toggle="dropdown") Questions
              b.caret
            ul.dropdown-menu
              li
                a(href="/event/minixtreme/question/1") Question 1
              li
                a(href="/event/minixtreme/question/2") Question 2
              li
                a(href="/event/minixtreme/question/3") Question 3
              li
                a(href="/event/minixtreme/question/4") Question 4
              li
                a(href="/event/minixtreme/question/5") Question 5
              li
                a(href="/event/minixtreme/question/6") Question 6
              li
                a(href="/event/minixtreme/question/7") Question 7
              li
                a(href="/event/minixtreme/question/8") Question 8
              li
                a(href="/event/minixtreme/question/9") Question 9
              li
                a(href="/event/minixtreme/question/10") Question 10
              li
                a(href="/event/minixtreme/question/11") Question 11
              li
                a(href="/event/minixtreme/question/12") Question 12

          a.list-group-item(href="/portal/minixtreme/submissions") Submissions
          a.list-group-item(href="/portal/minixtreme/rules") Rules  
    