extend layout
block content
  .container
    hr.featurette-divider
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src="/img/minixtreme.jpg")
      .col-md-6
      h2.featurette-heading MiniXtreme
        br
        span.text-muted 3 hours Programming Competition.
      p.lead 3 hours of intense coding mania. Are you ready for the challenge?
    .col-md-12
      h3 Description 
      p.lead Think you are good at problem solving? Know to code some programming language?? If yes this competition is for you. Chance to test your programming poweress, analytical thinking skill,  time management and team work. 
     h3 Competition Details
     ul
       li
         p.lead Minixtreme is a 3 hour competition. It will be open from 9 am to 5 pm. The participants can come in any time from 9 am to 2 pm and start their competition.
       li
         p.lead Teams will get a Login Id and Password upon arrival. They have to login into the dashboard and start the competition.
       li
         p.lead Once the competition starts, questions will be uploaded at intervals of 15 minutes. The questions are of different difficulty level and have differents point accordingly.
       li
         p.lead A team will get 12 questions. 4 from each of the following category. Easy, Medium, Intermediate and Difficult.
       li
         p.lead The team will have to submit the code in the dashboard.
       li
         p.lead Winners will be contacted after the competition.
     h3 Registration Details
     ul
       li
         p.lead Registration fee is &#8377 50/- per team (For IEEE members) and &#8377 80/- per team (For Non-IEEE members)
       li 
         p.lead A team can have 2 - 4 members
       li
         p.lead Registrations are open from 5th Feb.
       li
         p.lead Registration can be done at registration desk VIT, Wadala
       li
         p.lead Contact Praveen 8898758995 for more information
     h3 Prizes
       ul
         li
           p.lead 1st prize: &#8377 1500/-
       ul
         li
           p.lead 2nd prize: &#8377 500/-
       ul
         li
           p.lead 3rd prize: &#8377 300/-
<<<<<<< HEAD
    button.btn.btn-success(data-toggle="modal",href="#myModal") Login
    hr.featurette-divider
    .modal.fade#myModal(tabinex="-1",role="dialog",aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h2.form-signin-heading Login
          .modal-body
            form.form-horizontal(method="POST",action="/portal/login",role="form")        
              .form-group
                label.col-sm-2.control-label(for="user") Username:
                .col-sm-6
                  input.form-control#name(type="text" name ="user" placeholder="Username" required autofocus)
              .form-group
                label.col-sm-2.control-label(for="password") Password:
                .col-sm-6
                  input.form-control#intime(type="password" name ="pass"  required)
              .modal-footer
                button(type="button" data-dismiss="modal").btn.btn-primary Cancel
                button(type="submit").btn.btn-success Login   
=======
    hr.featurette-divider
>>>>>>> 53ac4911698c1413e091e15c26a04bca09657355
      