div.navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') IEEE-VIT
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='/') Home
              li.dropdown
                a(href="#" class="dropdown-toggle" data-toggle="dropdown") Events
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/event/minixtreme") MiniXtreme
                  li
                    a(href="/event/clashoftitans") Clash Of Titans
                  li
                    a(href="/event/cryptocrack") CryptoCrack
                  li
                    a(href="/event/technodox") Technodox
              li.dropdown         
                a(href="#" class="dropdown-toggle" data-toggle="dropdown") RACEM
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/RACEM/E-YANTRA-WS") E YANTRA ROBOTICS WORKSHOP
                  li
                    a(href="/RACEM/MICROWAVE-CAD-TOOLS") MICROWAVE CAD TOOLS
                  li
                    a(href="/RACEM/USABILITY-ENGINEERING") USABILITY ENGINEERING & USER EXPERIENCE DESIGN FOR INTERACTIVE SYSTEMS
                  li
                    a(href="/RACEM/ANDROID-APPLICATION-DEVELOPMENT") ANDROID APPLICATION DEVELOPMENT
                  li     
                    a(href="/RACEM/OSCAD") OSCAD
              li
                a(href='/event/arduino') Arduino
              li
                a(href='/aboutieee') About IEEE
            