extends layout
block content
  style.
    .team {padding-top:70px}
  .contianer.team
    h1 Team
    hr
    p.lead.
     Institute of Electrical and Electronics Engineers VIT 

The Ieee is a Student Chapter under IEEE International which is the world's largest professional association dedicated to advancing technological
 innovation and excellence for the benefit of humanity

IEEE VIT Student chapter is one of the most dedicated and innovative technical chapter on the campus.
We are registered under the International IEEE which is the world's largest professional association
dedicated to advancing technologies innovation and excellence for the benefit of humanity.

Our core committee is very diverse, consisting of the students from various streams . We aim to create
an environment where students collaborate on world-changing technologies - from computing to
web development, robotics, healthcare such that we are universally recognized for the contributions of
technology and of technical professionals in improving global conditions. 
    