

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.largeIcon{
    font-size: 30px;
    padding-left:35px;
    padding-right:35px;
}















